<!-- <div style="display: flex;" class="mx-3">
  <h1>Kanban Board</h1>
  <a class="button m-3" href="javascript:void(0)" (click)="openAddTaskModal(content)" title="Add Task">Add Task</a>
</div> -->
<div class="header">
  <h1>Kanban Board</h1>
</div>
<div class="root">
  <div class="board">
    <div class="board-wrapper">
      <div class="board-columns">
        <div
          cdkDropList
          cdkDropListOrientation="horizontal"
          class="board-columns"
          (cdkDropListDropped)="dropGrid($event)"
        >
          <div
            cdkDragLockAxis="x"
            class="board-column"
            *ngFor="let column of board.columns; let columnIndex = index"
            cdkDrag
          >
            <div class="column-title" cdkDragHandle>
              {{ column.name }}
              <a
                *ngIf="column.id === '1'"
                class="button"
                href="javascript:void(0)"
                (click)="openAddTaskModal(content)"
                title="Add Task"
                >+</a
              >
            </div>
            <div
              class="tasks-container"
              id="{{ column.id }}"
              [cdkDropListConnectedTo]="column.dragConnectedIds"
              cdkDropList
              [cdkDropListData]="column.tasks"
              (cdkDropListDropped)="drop($event)"
            >
              <div
                class="task"
                *ngFor="let item of column.tasks; let itemIndex = index"
                [ngStyle]="{
                  borderLeftColor:
                    column.id === '2'
                      ? 'orange'
                      : column.id === '3'
                      ? 'green'
                      : 'blue'
                }"
                cdkDrag
              >
                <span class="task-desc">{{ item }} </span>
                <a
                  class="remove-button"
                  href="javascript:void(0)"
                  (click)="
                    openRemoveTaskModal(
                      removeTaskContent,
                      itemIndex,
                      columnIndex
                    )
                  "
                  title="Remove Task"
                  >X</a
                >
              </div>
              <ng-container *ngIf="column.tasks.length === 0"
                >No tasks available.</ng-container
              >
            </div>
            <div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Task</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="taskDescription">Task: </label>
        <div class="input-group">
          <input
            id="taskDescription"
            ngbAutofocus
            class="form-control"
            placeholder="Enter Task Description"
            name="td"
            type="text"
            [(ngModel)]="taskDescription"
          />
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      [disabled]="!taskDescription"
      (click)="modal.close('Save click')"
    >
      Save
    </button>
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.dismiss('Cancel click')"
    >
      Cancel
    </button>
  </div>
</ng-template>

<ng-template #removeTaskContent let-removeTaskModal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Remove Task</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="removeTaskModal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <h6>Are you sure you want to remove this task?</h6>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="removeTaskModal.close('Save click')"
    >
      Remove
    </button>
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="removeTaskModal.dismiss('Cancel click')"
    >
      Cancel
    </button>
  </div>
</ng-template>
